@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Caveat;
  background-image: url('./CompBack.png');
  background-repeat: repeat;
  margin-top: 20px;
  margin-right: 20%;
  margin-left: 20%;
  margin-bottom: 30%;
}

header {
  padding: 45px 45px;
  background-color: #ffffff;
  align-content: center;
}

.button {
  background-color: #04AA6D; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  float: right;
}

.card{
 font-family: Caveat, cursive;
 background-color: white;
 background: repeating-linear-gradient(white, white 25px, #9198e5 26px, #9198e5 27px);
 background-position-y: 34px;
 height: auto;
 width: 80%;
 padding: 0;
 margin-top: 50px;
 
 margin-right: 15px;
}
.card header {
 background: linear-gradient(white, white 33px, pink 35px, pink 36px);
 height: 36px;
}
.card-title {
 position: relative;
 left: 10px;
 top: 8px;
 font-size: 30px;
 font-weight: 700;
}
.card-text {
 position: relative;
 top: 30px;
 font-size: 18px;
 font-weight: 500;
 margin: 0 20px;
 line-height: 27px;
}

.post-it {
 	width:250px;
  height:240px;
  position:relative;
  background:#ffa;
  overflow:hidden;
  margin:30px auto;
  padding:20px;
  border-radius:0 0 0 30px/45px;
  box-shadow:
    inset 0 -40px 40px rgba(0,0,0,0.2),
    inset 0 25px 10px rgba(0,0,0,0.2),
    0 5px 6px 5px rgba(0,0,0,0.2);
   font-family: Caveat, cursive;
  line-height:1.7em;
  font-size:19px;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);

  color:#130d6b;
}
